<h1>Editing Admin Item Attachment</h1>

<%= render 'form', admin_item_attachment: @admin_item_attachment %>

<%= link_to 'Show', @admin_item_attachment %> |
<%= link_to 'Back', admin_item_attachments_path %>
